html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 2rem;
}

body {
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #e2e2e2;
}

header nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

header ul li {
  padding: 0 .5rem;
}

header ul li a {
  text-decoration: none;
  color: #0074d9;
}
