html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 2rem;
}

body {
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}
